/*HEADER*/
.navbar-collapse {
	justify-content: flex-end;




/*TITULO*/	
}
.titulo {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}



/*FOTOS*/
.producto1 {
	height: 210px;
	width: 220px;
	
}
.producto2{
	height: 210px;
	width: 220px;
}
.producto3{
	height: 210px;
	width: 220px;
}
.producto4{
	height: 210px;
	width: 220px;
}
.producto5{
	height: 210px;
	width: 220px;
}
.producto6{
	height: 210px;
	width: 220px;
}
.producto1, .producto2, .producto3, .producto4, .producto5, .producto6 {
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 5px;
}




/*FOOTER*/

.minimapa {
	height: 200px;
	width: 200px;
}
.logoRRSS {
	height: 50px;
	width: 50px;
}