@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

/*TRAIGO NAV*/
/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px; }

header a {
  margin-left: 1rem; }

nav ul {
  display: flex;
  flex-wrap: wrap; }
  nav ul li {
    list-style: none;
    padding-right: 9px;
    margin-left: 13px; }
    nav ul li nav ul li a {
      text-decoration: none;
      color: #4d4dff; }
      nav ul li nav ul li a:hover {
        color: violet; }

.navbar-collapse {
  justify-content: flex-end; }

/*MAIN INDEX HECHO CON BOOTSTRAP*/
.producto1, .producto2, .producto3, .producto4, .producto5, .producto6 {
  height: 210px;
  width: 220px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 10%; }

.titulo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to right, #bf00ff, #9900cc); }

/*MAIN PRODUCTOS*/
.mainProductos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 300px auto auto 300px auto auto 300px auto;
  grid-template-areas: "mujer" "seccionA" "woman" "hombre" "seccionB" "man" "niños" "seccionC" "kid"; }

.seccionA {
  background-image: url("https://images.unsplash.com/photo-1554701228-be6e0839118e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  grid-area: seccionA;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.seccionB {
  background-image: url("https://images.unsplash.com/photo-1496346776741-7297b9e34825?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  grid-area: seccionB;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.seccionC {
  background-image: url("https://images.unsplash.com/photo-1601782744132-f08f10b3343e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  grid-area: seccionC;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.mujer {
  grid-area: mujer;
  justify-self: center;
  margin: 10px; }

.hombre {
  grid-area: hombre;
  justify-self: center;
  margin: 10px; }

.niños {
  grid-area: niños;
  justify-self: center;
  margin: 10px; }

.produ5 {
  height: 300px;
  width: 310px;
  grid-area: woman; }

.produ6 {
  height: 300px;
  width: 310px;
  grid-area: man; }

.produ7 {
  height: 300px;
  width: 310px;
  grid-area: kid; }

/*MEDIA QUERIA DESKTOP PRODUCTOS*/
@media only screen and (min-width: 1024px) {
  .mainProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 300px auto 300px auto 300px;
    grid-template-areas: "mujer mujer" "woman seccionA" "hombre hombre" "man seccionB" "niños niños" "kid seccionC"; }
  .seccionA {
    background-image: url("https://images.unsplash.com/photo-1554701228-be6e0839118e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    grid-area: seccionA;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .seccionB {
    background-image: url("https://images.unsplash.com/photo-1496346776741-7297b9e34825?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    grid-area: seccionB;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .seccionC {
    background-image: url("https://images.unsplash.com/photo-1601782744132-f08f10b3343e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    grid-area: seccionC;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .mujer {
    grid-area: mujer;
    justify-self: center;
    margin: 10px; }
  .hombre {
    grid-area: hombre;
    justify-self: center;
    margin: 10px; }
  .niños {
    grid-area: niños;
    justify-self: center;
    margin: 10px; }
  .produ5 {
    height: 300px;
    width: 320px;
    grid-area: woman;
    margin-left: 150px; }
  .produ6 {
    height: 300px;
    width: 320px;
    grid-area: man;
    margin-left: 150px; }
  .produ7 {
    height: 300px;
    width: 320px;
    grid-area: kid;
    margin-left: 150px; } }

/*MAIN FAQ*/
.tituFAQ {
  margin: 5px;
  font-family: 'Roboto', sans-serif; }

.preguntas {
  margin: 5px; }

/*TRAIGO FOOTER*/
/*FOOTER*/
footer {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;
  /*display: flex;
	margin: 10px;
	flex-direction: row;
	justify-content: space-between;*/ }

footer img {
  width: 70px;
  height: 70px;
  background-color: #eee6ff;
  border-radius: 10%;
  align-self: center; }

.logoRRSS {
  height: 30px;
  width: 30px; }

.minimapa {
  height: 150px;
  width: 150px;
  transition: all 2s; }

.minimapa:hover {
  width: 250px;
  height: 250px; }
